/* General Theme */
* {
  box-sizing: border-box; /* Ensures padding/margin are included in width */
}

body, .App {
  font-family: 'Courier New', monospace;
  text-align: center;
  background-color: #0d0d0d; 
  color: #D3D3D3; 
  margin: 0;
  height: 100vh;
}

header {
  background: linear-gradient(90deg, #0d0d0d, #333); 
  padding: 1.5rem;
  text-shadow: 0 0 8px #D3D3D3;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #D3D3D3;
  animation: neon-flicker 2s infinite alternate; /* Neon flicker effect */
}

/* Neon Flicker Animation */
@keyframes neon-flicker {
  0%, 100% { text-shadow: 0 0 8px #D3D3D3, 0 0 16px #009966; }
  50% { text-shadow: 0 0 4px #D3D3D3; }
}
