/* Audio Player */
.audio-player {
  background: #0d0d0d;
  color: #D3D3D3;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 10px rgba(0, 255, 153, 0.5);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.button.has-text-light {
  margin: 0 5px;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.progress-bar {
  width: 70%;
  height: 5px;
  background: #333;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress-bar::after {
  content: '';
  height: 100%;
  width: 50%;
  display: block;
  background: linear-gradient(to right, #D3D3D3, #009966);
  animation: progress-move 5s infinite linear;
}

/* Progress Animation */
@keyframes progress-move {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

.time {
  color: #999;
  font-size: 0.9rem;
  margin-left: 10px;
}