/* track.css */

.track {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  background: #0d0d0d;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: 90%; /* Increased width to make the track container wider */
  max-width: 800px; /* Optional: set a max width to avoid it getting too wide on larger screens */
}

.track-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.box {
  margin: 10px;
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  text-align: center;
}

.button {
  background-color: transparent;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.button:hover {
  background-color: #00ff99;
  color: #0d0d0d;
}

.track-title {
  font-size: 16px;
  color: #00ff99;
  text-shadow: 0 0 8px #00ff99;
}
