/* Typewriter Animation */
/* @keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
} */

.typewriter {
  display: inline-block;
  font-family: 'Courier New', monospace;
  font-size: 1.2rem;
  color: #D3D3D3;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #D3D3D3;
  animation: typewriter 4s, blink 0.7s step-end;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.typewriter:hover {
  color: #00ffcc;
  text-shadow: 0 0 8px #00ffcc, 0 0 16px #0099aa;
}

/* Track List */
.track {
  /* background: #1a1a1a; */
  /* border-radius: 5px; */
  margin: 15px 0;
  padding: 20px;
}

.box {
  /* background: #0d0d0d; */
  /* border-bottom: 1px solid #D3D3D3; */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 255, 153, 0.3);
}

.box:hover {
  box-shadow: 0 0 12px rgba(0, 255, 153, 0.5);
}

.track-info {
  display: flex;
  justify-content: start;
  justify-content: space-between;
  padding: 10px;
}

.box.selected {
  background-color: #2d2d2d; /* A subtle highlight for the selected track */
}

.track-title.selected-title {
  font-weight: bold;
  color: #ff9933; 
  /* font-style: italic;  */
}

.track-title {
  cursor: pointer;
}

.track-length {
  color: #b3b3b3; 
}
